/*
 * palatte
 *
 * #d49a2f(orange) white #551f00(brown) #be2000(red) #e2d5c4(tan)
 *
 */


body {
  background-image: url(/images/background.png);
  background-repeat: repeat-x;
  font-family: Verdana, sans-serif;
  padding: 0px;
  margin: 0px;
  border: 0px;
}


h2 {
  font-size: 1.8em;
  font-family: Georgia, Times, serif;
  font-style: italic;
  color: #551f00;
  border-bottom: 2px solid #e2d5c4;
  width: 440px;
  margin-bottom: 40px;
  letter-spacing: 1px;
  margin-top: 0px;
  margin-left: 50px;
}

h3 {
  font-family: Verdana, sans-serif;
  color: #be2000;
  letter-spacing: 1px;
}

input {
  border: 1px solid #d49a2f;
  background: #e2d5c4;
  padding-left: 3px;
  color: #551f00;
  
}

a {
  color: #551f00;
}

fieldset {
  color: #551f00;
  border: 1px solid #551f00;
  margin-bottom: 10px;
  width: 330px;
  background: url(/images/fieldset.png) repeat-x scroll center bottom;
}

legend {
  font-size: 1em;
  color: #551f00;
}

#content {
  background-image: url(/images/middle.png);
  background-repeat: repeat-y;
  width: 830px;
}

#main_box {
  width: 780px;
  margin-left: 50px;
  padding-bottom: 10px;
}

#footer {
  width: 810px;
  font-size: .8em;
  font-family: Verdana, sans;
  text-align: right;
}

#current_cost {
  margin-right: auto;
  margin-left: auto;
  width: 50%;
}

#left_form{
  float: left;
}
#right_form{
  float: right;
  margin-right: 155px;
}

#form_buttons{
  clear: both;
  text-align: right;
  margin-right: 36px;
  padding-top: 10px;
}
#form_buttons input {
  border: none;
  background: white;
}
  
#main_content {
  width: 450px;
  float: left;
}

#user_menu {
  float: right;
  margin-right: 20px;
}

#alternative {
  width: 270px;
  float:right;
}

div.inputcontainer {
  width: 15em;
}

#raw {
	font-size: 36px;
}

.numeral {
	width: 36px;
	height: 36px;
	float: left;
	background-image: url("/images/numbers36.png");
	background-repeat: repeat-y;
}
.decimal {
	width: 12px;
	float: left;
	font-size: 36px;
}

div.slider {
  background: #e2d5c4 none repeat scroll 0%;
  height:5px;
  margin-bottom:10px;
  margin-top:5px;
  position:relative;
  width:150px;
}

div.slider div {
  background: #be2000 none repeat scroll 0%;
  border:1px outset white;
  height:15px;
  margin-top:-5px;
  position:absolute;
  width:8px;
}
