/*
 * palatte
 *
 * #d49a2f(orange) white #551f00(brown) #be2000(red) #e2d5c4(tan)
 *
 */


body {
  background-image: url(/images/background.png);
  background-repeat: repeat-x;
  font-family: Verdana, sans-serif;
  font-size: .98em;
  padding: 0px;
  margin: 0px;
  border: 0px;
}


h2 {
  font-size: 1.8em;
  font-family: Georgia, Times, serif;
  font-style: italic;
  color: #551f00;
  border-bottom: 2px solid #e2d5c4;
  width: 440px;
  margin-bottom: 40px;
  letter-spacing: 1px;
  margin-top: 0px;
  margin-left: 50px;
}

h3 {
  font-family: Verdana, sans-serif;
  color: #be5843;
  letter-spacing: 1px;
  margin-bottom: 5px;
}

input {
  border: 1px inset #be5843;
  background: white;
  padding: 0px 0px 0px 3px;
  color: #551f00;
  margin: 5px;
  width: 320px;
  font-size: 1.05em;
}

input.radio {
  width: auto;
  border: none;
  background: none;
  outline: none; /* hide dotted outline in Firefox */
}

a {
  color: #551f00;
}

p {
  margin-right: 100px;
  margin-top: 5px;
  color: #551f00;
  padding: 10px;
  font-size: .9em;
}

fieldset {
  color: #551f00;
  border: 1px outset #551f00;
  margin-bottom: 10px;
  width: 330px;
  padding: 10px;
  background: url(/images/fieldset.png) repeat-x scroll center bottom;
}

legend {
  font-size: 1.1em;
  color: #551f00;
}

ul.horizontal {
  padding-left: 10px;
}
ul.horizontal li {
  list-style-type: none;
  display: inline;
  font-size: .9em;
}

#header a img {
  border: 0px;
}

#header a {
  outline: none; /* hide dotted outline in Firefox */
}

#content {
  background-image: url(/images/middle.png);
  background-repeat: repeat-y;
  width: 830px;
}

#main_box {
  width: 780px;
  margin-left: 50px;
  padding-bottom: 10px;
}

#header, #content, #footer {
  margin-left: auto;
  margin-right: auto;
  width: 830px;
}


#footer #footer_text {
  font-size: .8em;
  font-family: Verdana, sans;
  text-align: right;
}

#left_form{
  float: left;
  width: 360px;
}
#right_form{
  float: right;
  width: 360px;
  padding-right: 40px;
}

#form_buttons{
  clear: both;
  margin-left: 615px;
  padding-top: 10px;
}
#form_buttons input {
  border: none;
  background: white;
}
  
#main_content {
  width: 450px;
  float: left;
}

#meeting_details {
  float: left;
  width: 470px;
}

#alternative {
  width: 240px;
  margin-right: 40px;
  border: 1px solid #be5843;
  padding: 20px 10px 10px 0px;
  text-align: center;
  float: right;
}

div.inputcontainer {
  width: 15em;
}

#raw {
	font-size: 36px;
}

.numeral {
	width: 36px;
	height: 36px;
	float: left;
	background-image: url("/images/numbers36.png");
	background-repeat: repeat-y;
}
#currency_sign{
	font-size: 36px;
  float: left;
  
}

#current_cost {
  margin-top: 7px;
}

.decimal {
	width: 12px;
	float: left;
	font-size: 36px;
}

.clear_all {
  clear: both;
}

/*start button css*/
.clear { /* generic container (i.e. div) for floating buttons */
    overflow: hidden;
    width: 100%;
}


a.button {
    background: transparent url('/images/smaller_buttons_r.png') no-repeat scroll top right;
    color: #444;
    display: block;
    float: left;
    font: italic bold 16px Georgia, serif;
    color: white;
    height: 32px;
    margin-right: 3px;
    padding-right: 13px; /* sliding doors padding */
    text-decoration: none;
}


a.button span {
    background: transparent url('/images/smaller_buttons_l.png') no-repeat;
    display: block;
    line-height: 16px;
    padding: 7px 0px 9px 13px;
}

a.button:active {
    background-position: bottom right;
    color: #ddd;
    outline: none; /* hide dotted outline in Firefox */
}

a.button:active span {
    background-position: bottom left;
    outline: none; /* hide dotted outline in Firefox */
    padding: 9px 0 7px 13px; /* push text down 2px */
}

a.right{
  float:right;
}

div.slider {
  background: #e2d5c4 none repeat scroll 0%;
  height:5px;
  margin-bottom:10px;
  margin-top:5px;
  position:relative;
  width:329px;
}

div.slider div {
  margin-top:-5px;
  position:absolute;
}

#user_menu {
  float: right;
  width: 182px;
  margin-top: 10px;
}

.formError {
  color: #be2000;
}

#notes {
  width: 250px;
  font-family: Courier;
  border-top: 1px dashed;
  border-bottom: 1px dashed;
  padding-top: 1em;
  padding-bottom: 1em;
}
.note {
  margin-top: .2em;
  position: relative;
}

.note_descr {
  text-align: left;
  width: 200px;
}
 
.note_cost {
  position: absolute;
  right:0px;
  top:0px;
} 

#note_form_wrapper {
  padding:.5em;
}
