<h2>Please Log in!</h2>
<div id="main_box">
<% form_tag do -%>


<div class="inputcontainer">
  <fieldset>
  <legend><label for="login">Login</label></legend>
   <%= text_field_tag 'login' %>
  </fieldset>
</div>

<div class="inputcontainer">
  <fieldset>
  <legend><label for="password">Password</label></legend>
  <%= password_field_tag 'password' %>
  </fieldset>
</div>

<!-- Uncomment this if you want this functionality
<p><label for="remember_me">Remember me:</label>
<%= check_box_tag 'remember_me' %></p>
-->

<div class="clear"><%= meet_link_to_function 'Log in', "this.up('form').submit(0);" %></div>
<% end -%>
</div>