<% for n in @meeting.notes %>
<div class="note">
  <div class="note_descr">
    <%= h n.descr %>  <%= n.running? ? "(" + link_to("stop", stop_meeting_note_url(@meeting, n)) + ")" : "(over)" %>
  </div>
  <span class="note_cost">
    <%= number_to_currency(n.cost/100.to_f) %>
  </span>
</div>
<% end %>
