<h2>testing counters</h2>
<div id="main_box">

  <style type="text/css">
    #digit {
      position: absolute;
      top: 208px;
      left: 100px;
    }
    #digit_background {
      position: absolute;
      top: 200px;
      left: 100px;
      width: 80px;
      height: 40px;
	    background-image: url("/images/digit_background.png");
	    background-repeat: repeat-x;
    }
  </style>
  <div id="digit_background">
  </div>
  <div id="digit">
    <p>One</p>
    <p>Two</p>
    <p>Three</p>
    <p>Four</p>
  </div>

  <div>hi</div>
  <div>hi</div>
  <div>hi</div>
  <div>hi</div>
  <div>hi</div>
  <div>hi</div>
  <div>hi</div>
  <div>hi</div>
  <p id="link"><%= link_to_function("move it","startMoving();"); %></p>

  <script type="text/javascript">
    var digitStyle = $('digit').style;
    var move_amount = 1;
    var intevalId;
    
    digitStyle.clip = 'rect(0,100,40,0)';
    function startMoving() {
  	  intervalId = setInterval("move()",40);
      $('link').innerHTML = '<%= link_to_function("stop it","stopMoving();"); %>';
    }
    function stopMoving() {
      clearInterval(intervalId);
      $('link').innerHTML = '<%= link_to_function("move it","startMoving();"); %>';
    }

    function move() {
      digitStyle.clip = 'rect('+(move_amount)+',100,'+(move_amount+40)+',0)';
      digitStyle.top = (200-move_amount)+"px";
      move_amount += 1;
      if(move_amount >= 140) {
        move_amount = 1;
        digitStyle.clip = 'rect(0,100,40,0)';
        digitStyle.top = '208px';
      }
    }
  </script>

</div>
