<html>
  <head><title>Meeting Counter</title></head>
  <body>
    <% error_messages_for 'meeting' %>
    <p>
    <% form_for :meeting, @meeting, :url => { :action => "save" } do |f| %>
    <p>Name: <%= f.text_field :name %></p>
    <p>Cost Per Hour: <%= f.text_field :cents_per_hour %></p>
    <p><input type="submit"/></p>
    <% end %>
    </p>
  </body>
</html>
