<html>
  <% content_for :title do%>meeting counter<% end %>
  <body>
    <h1><%= @meeting.name %></h1>
  <p><div id="raw">0</div></p>
  
  <div style="visibility: hidden"><span id='startcost'><%= @meeting.cost%></span></div>
  
  <!--notes -->
  <ul>
    <% for n in @meeting.notes %>
    <li>
      <%= n.descr %> -- 
      <script type="text/javascript">
        document.write("$"+number_str(<%= n.cost %>));
      </script>
    <% if n.running? %>
    <%= link_to "stop", { :controller => 'note', :action => "stop", :id => n}%>
    </li>
    <% end %>
  <% end %>
  </ul>
  <%= start_form_tag :action => 'addNote' %>
  <p>what's going on?
  <%= text_area "newNote", "descr", "cols" => 20, "rows" => "2" %>
  <%= hidden_field "meeting", "id"%>
  <input type="submit" value="go"/>
  <%= end_form_tag %></p>
  </p>

  <p>
    <% if @meeting.running? %>
      <%= link_to "Stop Meeting", { :action => 'stop', :id => @meeting } %>
      <script type="text/javascript">
      //not sure if this should go here or not
      startamount=0;
        curamount=parseInt($("startcost").firstChild.nodeValue);
        //we could put this on the serverside??
        onerate = 3600000/<%= @meeting.cents_per_hour %>;
        inc = Math.ceil(1/(Math.exp(Math.log(onerate)-4)));
        
        
        inc_totals_at_rate(onerate*inc, inc);
      </script>
      <%= periodically_call_remote :url => { :action => "view", :id => @meeting } %>
    <% else %>
      <script type="text/javascript"> 
        document.getElementById("raw").firstChild.nodeValue = 
        "$" + number_str(<%= @meeting.cost %>);
      </script>
    <% end %>
  </p>
  </body>
</html>
